[Desktop Entry]
Icon=application-octet-stream
Name[de_DE]=Pythonkurs_Online
Name=Pythonkurs_Online
Type=Link
URL[$e]=https://lrnfst.000webhostapp.com/python/index.html
